<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Socrates stocks Tracker</h1>
        <p class="lead">
        <table class="table">
            <tr>
                <th>Company</th>
                <th>Current</th>
                <th>Threshold</th>
            </tr>
            <tr>
                <td>Safaricom</td>
                <td>{{SCOM}}</td>
                <td>{{TSCOM}}</td>
            </tr>
            <tr>
                <td>Equity</td>
                <td>{{EQTY}}</td>
                <td>{{TEQTY}}</td>
            </tr>
            <tr>
                <td>KCB</td>
                <td>{{KCB}}</td>
                <td>{{TKCB}}</td>
            </tr>
        </table>
        </p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="/update" role="button">Modify Tracker</a>
    </div>
</div>